.Config {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90vh;

	h1 {
		margin: 5px;
		background-color: rgba(211, 224, 234, 0.7);
		padding: 5px 20px;
		border-radius: 5px;
		color: #2b9cff;
		font-size: 2rem;
		font-family: 'Spirax', cursive;
		box-shadow: 0 0 10px 0 black;
		font-size: 1.3rem;
		text-shadow: 1px 1px 2px black;
	}

	form {
		width: 100%;
	}

	fieldset {
		background-color: rgba(211, 224, 234, 0.7);
		border-radius: 5px;
		border: solid 1px teal;
		margin: 5px;
		display: flex;
		justify-content: space-around;

		&.column {
			flex-direction: column;
		}

		legend {
			text-align: left;
			border-radius: 5px;
			background-color: rgba(211, 224, 234, 1);
			padding: 2px 5px;
			border: solid 1px teal;
			color: #0086fb;
		}

		label, input[type="radio"]{
			cursor: pointer;
		}
	}

	select {
		border: none;
		width: 80%;
		border-radius: 5px;
		padding: 3px;
	}

	.radio {
		border: teal 1px solid;
		border-radius: 5px;
		padding: 2px 5px 2px 0px;
		background-color: rgba(110, 183, 185, 0.5);
		

		&.large {
			width: 45%;
			label {
				display: inline-block;
				width: 80%;
			}
		}

		&.medium {
			width: 20%;
			label {
				display: inline-block;
				width: 60%;
			}
		}
	}

	input[type='text'] {
		width: 100%;
		border: none;
		border-radius: 5px;
		padding: 3px;
		margin: 2px;
	}

	button,
	a {
		width: 60%;
		background-color: tomato;
		color: white;
		margin-bottom: 10px;

		&:active,&:hover {
			background-color: red;
		}
	}

	a {
		font-family: 'Lobster', cursive;
		cursor: pointer;
		padding: 5px;
		border: none;
		font-size: 1.5rem;
		box-shadow: 0px 0px 5px 1px #191919;
		text-shadow: 1px 1px 2px black;
		border-radius: 3px;
		transition: all 0.5s;
	}
}
