.ScrollTop {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1;

  .icon {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    margin: 7px 1px;
    filter: drop-shadow(2px 2px 1px #4e4e4ee3);
  }
}
