.ScrollTop {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	z-index: 1;

	.fas {
		font-size: 1.5rem;
		color: #2b9cff;
		cursor: pointer;
		margin: 2px 0;
		text-shadow: 0px 0px 5px #4e4e4e;
	}
}
