.Quizz {
	height: 90vh;
	border: solid 2px red;


	.container-choix{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

	
	button {
		border: none;
		margin: 5px;
		border-radius: 5px;
		width: 45%;

		&.choice:focus {
			background-color: cadetblue;
		}

        &.right{
            background-color: rgb(128, 200, 128);
        }

        &.wrong{
            background-color: rgb(177, 122, 122);
        }

        &.disabled{
            pointer-events: none;
        }
	}
}
}
