.Quizz {
	height: 90vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	animation: zoom 0.7s forwards;

	.etat {
		display: flex;
		justify-content: space-between;
		color: gold;
		margin: 0 5px;
		text-shadow: 1px 1px 2px black;
	}

	.theme {
		text-transform: capitalize;
	}

	p {
		background-color: #5ab4ea;
		border-radius: 5px;
		margin: 10px;
		padding: 5px;
	}

	button {
		margin: 10px;
		width: 90%;
		background-color: tomato;
		color: white;
		&:active, &:hover{
			background-color: red;
		}
	}

	.blue{
		background-color: #2b9cff;
	}

	.question {
		height: 30%;
		background-color: rgba(211, 224, 234, 0.5);
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.3rem;
		margin: 10px;
		padding: 5px;
		text-shadow: 1px 2px 3px #36694c;
	}

	.container-choix {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		button {
			border: none;
			margin: 5px;
			border-radius: 5px;
			width: 46%;
			height: 50px;
			font-size: 1.2rem;
			text-shadow: 0px 1px 2px #525252;
			display: flex;
			align-items: center;
			justify-content: center;
			border: solid transparent 3px;
			color: black;

			&.disabled {
				pointer-events: none;
			}

			&:nth-child(1) {
				background-color: deepskyblue;
				&:active, :hover{
					background-color: rgb(0, 126, 168);
				}
			}

			&:nth-child(3) {
				background-color: chocolate;
				&:active, :hover{
					background-color: rgb(149, 62, 0);
				}
			}
			&:nth-child(2) {
				background-color: gold;
				&:active, :hover{
					background-color: rgb(160, 136, 0);
				}
			}
			&:nth-child(4) {
				background-color: orchid;
				&:active, :hover{
					background-color: rgb(211, 37, 205);
				}
			}

			&.choice:focus {
				border: solid white 3px;
				color: white;
			}

			&.right {
				border: solid green;
				background-color: green;
				color: white;
			}

			&.wrong {
				border: solid red;
				background-color: red;
				color: white;
			}
		}
	}
}
