.Niveau {
	height: 100%;
	animation: slideIn 0.5s forwards;
	position: relative;

	h1 {
		display: inline-block;
		margin: 5px 0 20% 0;
		background-color: rgba(211, 224, 234, 0.5);
		padding: 5px 20px;
		border-radius: 5px;
		color: #2b9cff;
		font-size: 2rem;
		font-family: 'Spirax', cursive;
		box-shadow: 0 0 10px 0 black;
		text-shadow: 1px 1px 2px black;
		font-size: 2rem;
		text-transform: capitalize;
		width: 80%;
	}

	.links {
		a {
			transform: skewX(-17deg);
			width: 85%;
			margin: 20px;
			background-color: #2b9cff;
			font-family: 'Lobster', cursive;
			cursor: pointer;
			padding: 5px;
			border: none;
			font-size: 1.5rem;
			text-shadow: 1px 1px 2px black;
			box-shadow: 0px 0px 5px 1px #191919;
			border-radius: 3px;
			transition: all 0.5s;
			display: block;
			color: white;

			&:active,
			&:hover {
				background-color: #0086fb;
			}
		}
	}
}
