.Competition {
	height: 86%;
	background-image: url('../../Backgrounds/background6.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	position: relative;

	.etat {
		display: flex;
		justify-content: space-between;

		.score-container {
			animation: slideIn 0.5s forwards;

			.score {
				border-radius: 5px;
				background-color: rgba(75, 119, 141, 0.7);
				transform: skewX(-17deg) translateX(-10px);
				box-shadow: 0px 0px 5px 1px #191919;
				color: gold;
				margin: 5px 0;
				padding: 0px 5px 0px 25px;
				font-size: 1.5rem;
				text-align: right;
				width: 150px;
			}

			.skew {
				border-radius: 5px;
				color: white;
				font-weight: bold;
				text-transform: uppercase;
				margin: 5px 0;
				transform: skewX(-17deg) translateX(-100vw);
				background-color: gray;
				padding: 5px 20px 5px 60px;
				box-shadow: 0px 0px 5px 1px #191919;
				transition: all 0.5s;

				&.slideSkew {
					transform: skewX(-17deg) translateX(-40px);
				}

				&.red {
					background-color: red;
				}

				&.green {
					background-color: green;
				}
			}
		}
	}

	button {
		margin: 10px 5px;
		width: 95%;

		color: white;
		padding: 5px;
		&:active,
		&:hover {
			background-color: red;
		}
	}

	.tomato {
		background-color: tomato;
		animation: zoom 0.3s forwards;
	}

	.blue {
		background-color: #2b9cff;
		animation: zoom 0.3s forwards;
	}

	fieldset {
		border: none;
		background-color: rgba(211, 224, 234, 0.7);
		border-radius: 5px;
		font-size: 1.3rem;
		margin: -10px 10px 10px;
		padding: 5px 5px 10px 5px;
		text-shadow: 1px 2px 3px #36694c;

		legend {
			font-size: 1rem;
			background-color: rgba(211, 224, 234, 0.9);
			border-radius: 5px;
			padding: 2px 5px;
			text-shadow: 0px 1px 2px #000000;
			font-weight: bold;
			color: #2b9cff;
		}

		p {
			margin: 0;
		}
	}

	.container-choix {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		button {
			margin: 5px;
			border-radius: 5px;
			width: 46%;
			min-height: 50px;
			font-size: 1.2rem;
			text-shadow: none;
			display: flex;
			align-items: center;
			justify-content: center;
			border: solid transparent 4px;
			color: black;
			padding: 0;

			&.disabled {
				pointer-events: none;
			}

			&:nth-child(1) {
				background-color: deepskyblue;
				&:active,
				:hover {
					background-color: rgb(0, 126, 168);
				}
			}

			&:nth-child(3) {
				background-color: burlywood;
				&:active,
				:hover {
					background-color: rgb(204, 144, 65);
				}
			}
			&:nth-child(2) {
				background-color: gold;
				&:active,
				:hover {
					background-color: rgb(160, 136, 0);
				}
			}
			&:nth-child(4) {
				background-color: orchid;
				&:active,
				:hover {
					background-color: rgb(211, 37, 205);
				}
			}

			&.choice:focus {
				border: solid white 3px;
				color: white;
				text-shadow: 0px 0px 7px black;
			}

			&.right {
				border: solid yellowgreen;
				background-color: green;
				color: white;
			}

			&.wrong {
				position: relative;
				border: solid maroon;
				background-color: red;
				color: white;
				//text-decoration: line-through black 2px;
				&:before {
					content: '';
					height: 3px;
					width: 70%;
					background-color: maroon;
					position: absolute;
					top: 20px;
					border-radius: 30px;
					transform: rotate(-16deg);
				}
			}
		}
	}

	.erreur {
		position: absolute;
		left: 2px;
		bottom: 1%;
		text-decoration: underline;
		text-shadow: 0px 0px 5px white;
		font-size: 14px;
		cursor: pointer;
	}
}
