.App {
	position: relative;
	height: 100%;
	max-width: 800px;
	margin: auto;
	text-align: center;
}

.PwaButton {
	display: flex;
}

@media screen and (min-width: 800px) {
	.App {
		border-left: 2px solid #f3d07b;
		border-right: 2px solid #f3d07b;
		box-shadow: 0 0 10px 3px black;
	}

	.NavBar {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.PwaButton {
		display: none;
	}
}
