.App {
	position: relative;
	height:100%;
	max-width: 800px;
	margin: auto;
	text-align: center;
}

@media screen and (min-width: 800px) {
	.App {
		border: 2px solid #f3d07b;
		border-radius: 5px;
		box-shadow: 0 0 10px 3px black;
		min-height: 100%;
	}
}
