.BoutonLink {
	background-size: 100% 100%;
	width: 95vw;
	max-width: 500px;
	height: 25vw;
	max-height: 150px;


	a {
		font-size: 2.1rem;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #73cffd;
		font-family: 'Spirax', cursive;
		text-shadow: 2px 2px 3px black;
	}
}
