.Entrainement {
	height: 90vh;
	font-family: 'Spirax', cursive;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.sws {
		position: absolute;
		font-size: 25px;
	}

	a {
		position: relative;
		margin: 3px;
		padding: 2px 0;
		padding-left: 20%;
		text-align: left;
		width: 148%;
		font-size: 29px;
		color: black;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;

		&:nth-child(1) {
			background-color: rgba(255, 215, 0, 0.7);
			transform: rotate(-31deg) translate(-100%, -113%);
			animation: slide 0.7s forwards;
		}
		&:nth-child(2) {
			background-color: rgba(192, 192, 192, 0.7);
			transform: rotate(-31deg) translate(-100%, -113%);
			animation: slide 0.7s  forwards;
		}
		&:nth-child(3) {
			background-color: rgba(222, 184, 135, 0.7);
			transform: rotate(-31deg) translate(-100%, -113%);
			animation: slide 0.7s 0.1s forwards;
		}
		&:nth-child(4) {
			background-color: rgba(216, 101, 101, 0.7);
			transform: rotate(-31deg) translate(-100%, -113%);
			animation: slide 0.7s 0.1s forwards;
		}
		&:nth-child(5) {
			background-color: rgba(95, 158, 160, 0.6);
			transform: rotate(-31deg) translate(-100%, -113%);
			animation: slide 0.7s 0.2s forwards;
		}
		&:nth-child(6) {
			background-color: rgba(255, 127, 80, 0.6);
			transform: rotate(-31deg) translate(-100%, -113%);
			animation: slide 0.7s 0.2s forwards;
		}
		&:nth-child(7) {
			background-color: rgba(100, 149, 237, 0.6);
			transform: rotate(-31deg) translate(-100%, -113%);
			animation: slide 0.7s 0.3s forwards;
		}
		&:nth-child(8) {
			background-color: rgba(174, 255, 123, 0.6);
			transform: rotate(-31deg) translate(-100%, -113%);
			animation: slide 0.7s 0.3s forwards;
		}
	}
}

@keyframes slide {
	to {
		transform: rotate(-31deg) translate(-8%, -113%);
	}
}
