.Modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.box {
		width: 80%;
		padding: 20px 10px;
		background-color: rgba(211, 224, 234, 0.7);
		border-radius: 5px;
		color: #2b9cff;
		font-size: 2rem;
		font-family: 'Spirax', cursive;
		box-shadow: 0 0 10px 0 black;
		animation: zoom 0.7s forwards;

		h1 {
			box-shadow: none;
			background-color: transparent;
            background-color: rgba(211, 224, 234, 0.7);
            font-size: 1.6rem;
		}

		button {
			background-color: #2b9cff;
			margin: 0;
			width: 20%;
            font-size: 1.3rem;

            &:active{
                background-color: #0086fb;
            }
		}
	}
}
