.Apropos {
	height: 86%;
	background-image: url('../../Backgrounds/background4.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;

	h1 {
		display: inline-block;
		background-color: rgba(211, 224, 234, 0.9);
		animation: slideIn 0.5s forwards;
	}

	fieldset {
		background-color: rgba(211, 224, 234, 0.7);
		border-radius: 5px;
		border: solid 1px teal;
		margin: 5px;
		animation: slideIn 0.5s forwards;
	}

	a{
		color: teal;
		font-size: inherit;
		font-family: inherit;
		box-shadow: none;
		text-shadow: none;
	}
}
