.Apropos{
    height: 86%;
    background-image: url('../../Backgrounds/background4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    overflow: hidden;

    h1 {
		display: inline-block;
		margin: 5px 0 20px 0;
		background-color: rgba(211, 224, 234, 0.8);
		padding: 5px 20px;
		border-radius: 5px;
		color: #2b9cff;
		font-size: 1.7rem;
		font-family: 'Spirax', cursive;
		box-shadow: 0 0 10px 0 black;
		text-shadow: 1px 1px 2px black;
		text-transform: capitalize;
		width: 80%;
		max-width: 500px;
        animation: slideIn 0.5s forwards;
	}

    fieldset {
		background-color: rgba(211, 224, 234, 0.7);
		border-radius: 5px;
		border: solid 1px teal;
		margin: 5px;
        animation: slideIn 0.5s forwards;

}

}