.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 86%;
  //flex:1
  animation: zoom 0.7s forwards;

  .link-proposition {
    box-shadow: none;
    color: salmon;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;

    &:hover {
      color: rgb(38, 147, 230);
    }
  }
}
