.Home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 86%;
    animation: zoom 0.7s forwards;
}




@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
