.Header {
	font-family: 'Spirax', cursive;
	font-style: italic;
	background-color: black;
	height: 6%;
	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		margin: 0;
		padding: 0;
		color: gold;
		font-size: 1.8rem;
		background-color: transparent;
		box-shadow: none;
	}

	.ToggleBtn {
		position: absolute;
		right: 2px;

		.toggle {
			vertical-align: middle;
		}

		&.hidden {
			animation: hidden 0.5s forwards;
		}
	}

	@keyframes hidden {
		to {
			opacity: 0;
		}
	}
}
