.NavBar {
  position: fixed;
  bottom: 0;
	
  width: 100%;
  max-width: 796px;
  height: 65px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s;

  a {
    box-shadow: none;
  }

  .icon {
    font-size: 2rem;
    color: white;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8));
		transition: all 0.3s ease-in-out;
  }

  .active .icon {
    color: salmon;
  }

  &.hidden {
    transform: translateY(100%);
  }
}
