.NavBar {
	position: fixed;

	bottom: 0;
	width: 100%;
	max-width: 796px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 8%;
	min-height: 8vh;
	transition: all 0.5s;

	.fas {
		font-size: 2rem;
		color: white;
		text-shadow: 2px 2px 4px #000000;
	}

	.active {
		.fas {
			color: salmon;
		}
	}

	&.hidden {
		transform: translateY(100%);
	}
}

