@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

//Color Variables
$texte-color: white;
$navbar-color: #4b778d;
$main-color: #808080;
$header-color: #000000;

* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #0f0f11;
	overflow-x: hidden;
	font-family: 'Roboto Slab', serif;
	background-image: url('./Backgrounds/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-tap-highlight-color: rgba(107, 107, 107, 0);
	-webkit-tap-highlight-color: transparent;

	&::-webkit-scrollbar {
		width: 15px;
	}

	&::-webkit-scrollbar-track {
		background-color: rgba(211, 224, 234, 0.5); /* color of the tracking area */
	}

	&::-webkit-scrollbar-thumb {
		background-color: teal; /* color of the scroll thumb */
		border-radius: 20px;
	}
}

a {
	text-decoration: none;
	color: black;
}

button {
	font-family: 'Lobster', cursive;
	cursor: pointer;
	padding: 5px;
	border: none;
	font-size: 1.5rem;
	text-shadow: 1px 2px 2px black;
	box-shadow: 0px 0px 5px 1px #191919;
	border-radius: 5px;
	transition: all 0.5s;
}

.Header {
	background-color: $header-color;
}
.NavBar {
	background-color: $navbar-color;
}

/*Animations*/
@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes dezoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

@keyframes slideIn {
	from {
		transform: translateX(-100vw);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100vw);
	}
}

@keyframes slideToLeft {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes construction {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(50deg);
	}
}


.zoom{
	animation: zoom 0.5s forwards;
}

.dezoom {
	animation: dezoom 0.5s forwards;
}

.slideIn{
	animation: slideIn 0.25s forwards;
}

.slideOut{
	animation: slideOut 0.25s forwards;
}
